/* Meet our team Section –––––––––––––––––––––––––––––––––––––––––––––––––– */
section {
    margin-top: 0;
}
.meet-our-team-member-info-container{
    margin: 10px 0;
}

.meet-our-team-member-thumbnail-container{
    width: 100%;
}

.meet-our-team-member-photo{
    width: 100%;
}

.meet-our-team-member-name {
    font: bold 1.2em/1 sans-serif;
}

.meet-our-team-member-position {
    font: bold 1em/1 sans-serif;
    color: rgba(0, 0, 0, .7);
}

.meet-our-team-member-links-container {
    margin-top: 10px;
    max-width: 150px;
}

.fa-envelope {
    color: #4286f4;
}

.fa-github {
    color: #000;
}

.fa-bitbucket {
    color: #1f5081;
}

.fa-linkedin {
    color: #007785;
}

.fa:hover {
    transform: scale(1.1);
}

.about-us-intro-title {
    font: bold 3.2em 'Abril Fatface', cursive;;
    color: black;
    margin-bottom: 25px;
}

.about-us-intro {
    font-family: 'Rajdhani', sans-serif;
    font-size: 1.8em;
    text-align: center;
    animation: fadeInUp 1s;
}

.section-white-background {
    background: rgba(255, 255, 255, .7);
    padding: 50px 0;
}


