
.food-table-section a {
	color: black;
}

.food-table-item {
	animation: zoomIn 0.5s;
}

.food-table-section ul li{
	margin: 0 30px;
	line-height:1.5em;
}

.food-table-line {
	font-size: 1.2em;
}

.food-table-wrapper {
	padding-top: 15px;
}

.food-table-item-image {
    width: 100%;
    border-radius: 15px;
}

.food-content-hyperlink {
	color: #bbb !important;
}
