*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    margin-top: 50px;
}

.header-container {
    width: 100vw;
    height: 80vh;
}

.header-title {
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    font: bold 2.4em/1 sans-serif;
    color: #fff;
}

.background-image {
    position: absolute;
    height: inherit;
    width: inherit;
    background-image: url("../imgs/background4.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: fixed;
    background-size: cover;
}

.background-image-filter {
    height: inherit;
    width: inherit;
    background: rgba(0, 0, 0, 0.4);
}

@media only screen and (max-width: 767px) {
    .navbar-container-xs {
        padding: 0;
        margin: 0;
    }
}

.navbar-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.timeline-container {
    list-style-type: none;
    margin-top: 20px;
}

.timeline-item-content-container {
    padding: 15px 15px 5px 15px;
}

.timeline-item {
    position: relative;
    left: 0;
    top: 0;
}

.timeline-line {
    width: 4px;
    height: 100%;
    background: #c4c4c4;
    position: absolute;
    left: 1vw;
}

.timeline-pin {
    text-align: center;
    width: 10vw;
    height: 10vw;
    max-width: 50px;
    max-height: 50px;
    border-radius: 50%;
    border: solid 5px #FFF;
    background: #1496BB;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
}

.timeline-pin-icon {
    position: relative;
    top: 25%;
}

.timeline-content-container {
    padding-top: 40px;
    width: 90%;
    position: relative;
    left: 6vw;
}

.timeline-content {
    position: relative;
    bottom: 0;
    font: normal 1.2em/1.5 sans-serif;
    color: #404040;
    padding: 15px;
    background: rgba(0, 0, 0, 0);
    border-radius: 10px;
    position: relative;
    -webkit-box-shadow: 0px 10px 38px 3px rgba(136,136,136,0.2);
    -moz-box-shadow: 0px 10px 38px 3px rgba(136,136,136,0.2);
    box-shadow: 0px 10px 38px 3px rgba(136,136,136,0.2);
}

.timeline-content::before {
    content: '';
    position: absolute;
    bottom: 15px;
    border-style: solid;
    left: -16px;
    border-width: 8px 16px 8px 0;
    border-color: transparent #fff transparent transparent;
}

@media only screen and (max-width: 767px) {
    .timeline-content-container {
        left: 8vw;
    }
    .timeline-content::before {
        left: -8px !important;
        border-width: 4px 8px 4px 0 !important;
    }
}

.timeline-item-image {
    width: 100%;
    border-radius: 10px;
    transform: translateY(-30px);
    -webkit-box-shadow: 0px 10px 38px 3px rgba(136,136,136,0.2);
    -moz-box-shadow: 0px 10px 38px 3px rgba(136,136,136,0.2);
    box-shadow: 0px 10px 38px 3px rgba(136,136,136,0.2);
}

.timeline-item-image-small {
    width: 20%;
    border-radius: 10px;
    transform: translateY(-30px);
    -webkit-box-shadow: 0px 10px 38px 3px rgba(136,136,136,0.2);
    -moz-box-shadow: 0px 10px 38px 3px rgba(136,136,136,0.2);
    box-shadow: 0px 10px 38px 3px rgba(136,136,136,0.2);
    position: absolute;
    right: 2vw;
    top: 0vw;
}

.timeline-itme-list-bullet {
    vertical-align: top;
}



/* NG-VIEW ANIMATION –––––––––––––––––––––––––––––––––––––––––––––––––– */
.view-animate-container {
    position: relative;
}

.view-animate.ng-etner, .view-animate.ng-leave{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.view-animate.ng-enter {
    animation: fadeIn 0.5s;
}

.view-animate.ng-leave {
    animation: fadeOut 0.5s;
}


/* UI BOOTSTRAP CURSOR SWITCH –––––––––––––––––––––––––––––––––––––––––––––––––– */
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }


/* Section  –––––––––––––––––––––––––––––––––––––––––––––––––– */
.section-title {
    font: bold 1.6em/2 sans-serif;
    color: white;
    margin-bottom: 15px;
}

.section-light-gray-background {
    background: rgba(0, 0, 0, .3);
    padding: 50px 0;
}

.section-black-background {
    background: rgba(0, 0, 0, .7);
    padding: 50px 0;
}


/* Timeline Pricing Tab–––––––––––––––––––––––––––––––––––––––––––––––––– */
.sm-font {
    font: normal 0.8em/1 sans-serif;
}

.xs-font {
    font: normal 0.6em/1 sans-serif;
}

.light-red-text {
    color: #ff6e6e;
}

.white-text {
    color: white;
}

.light-red-link,
.light-red-link:visited{
    color: white;
}
.light-red-link:hover,
.light-red-link:active{
    color: #ff6e6e;
}
