<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
        <link rel="stylesheet" type="text/css" href="css/bootstrap-custom.css">
        <link rel="stylesheet" type="text/css" href="css/timeline.css">
        <link rel="stylesheet" type="text/css" href="css/food_safety.css">
        <link rel="stylesheet" type="text/css" href="css/about_us.css">
        <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Rajdhani" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Rajdhani" rel="stylesheet">

        <script src="https://use.fontawesome.com/8672324068.js"></script>
        <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular-animate.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular-route.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular-sanitize.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.4.0/ui-bootstrap-tpls.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-inview/2.2.0/angular-inview.min.js"></script>

        <script type="text/javascript" src="js/module/app.js"></script>
        <script type="text/javascript" src="js/route/route.js"></script>
        <script type="text/javascript" src="js/controller/NavbarCtrl.js"></script>
        <script type="text/javascript" src="js/controller/TimelineDataCtrl.js"></script>
        <script type="text/javascript" src="js/controller/FoodsafetyCtrl.js"></script>
        <script type="text/javascript" src="js/controller/AboutUsCtrl.js"></script>
        <script type="text/javascript" src="js/controller/ReferenceCtrl.js"></script>
        <script type="text/javascript" src="js/browserDetection.js"></script>
    </head>
    <body ng-app="App">
        <div class="header-container">
            <div class="background-image">
                <div class="background-image-filter"></div>
            </div>

            <div class="header-title">
                A Place for BC Prenatal Women to <br>
                Discover New Stories.
            </div>

            <div class="navbar-container" ng-controller="NavbarCtrl" ng-init="isNavCollapsed = true">
                <div class="navbar-container-xs">
                    <nav class="navbar navbar-default" role="navigation">
                        <div class="container">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle" ng-click="isNavCollapsed = !isNavCollapsed">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                                <a class="navbar-brand" href="#">BC Prenatal Information</a>
                            </div>
                            <div class="collapse navbar-collapse" uib-collapse="isNavCollapsed">
                                <ul class="nav navbar-nav navbar-right">
                                    <li ng-class="{'active': (getUrl() == '/')}"><a href="/#!">Home</a></li>
                                    <li ng-class="{'active': (getUrl() == '/food_safety')}"><a href="/#!food_safety">Food Safety</a></li>
                                    <li ng-class="{'active': (getUrl() == '/about_us')}"><a href="/#!about_us">About Us</a></li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>

        <div class="view-animate-container">
            <div ng-view class="view-animate"></div>
        </div>

        <section class="section-black-background">
            <div class="container" ng-controller="ReferenceCtrl">
                <div class="section-title text-center">
                    References
                </div>
                <div class="small-font text-center" ng-repeat="ref in references">
                    <a class="light-red-link" target="_blank" ng-href="{{ref.link}}">{{ref.title}}</a>
                </div>
            </div>
        </section>
    </body>
</html>
