<section class="section-white-background">
<div class="container">
   <div class="about-us-intro-title text-center">Motivation</div>
   <div class="row row-table">
       <div class="col-xs-12 col-sm-12 about-us-intro">
            The reason why we created this website is because Jason Chien recently got married and his wife got pregnant shortly afterward. He realized that without BC MSP the medical expense for birth delivery in BC is very expensive. Fortunately, Jason is a Canadian and he is applying spouse sponsorship for his wife therefore, his wife will receive BC MSP soon. However, not everyone is eligible for BC MSP in Canada and this is the main reason we decided to create the website. We want everyone to know the estimated cost for pregnant routine and what kind of test and ultrasound should be performed during the pregnancy. 
        </div> 
    </div>
</div>
</section>
<section class="section-light-gray-background">
    <div class="container">
        <div class="section-title text-center">Meet Our Team</div>
        <div class="row row-table">
            <div class="col-xs-12 col-sm-4 meet-our-team-member-container" ng-repeat="member in teamMembers" in-view="$inviewInfo.changed && memberInView($index, $inview, $inviewInfo)">
                <div class="thumbnail meet-our-team-member-thumbnail-container">
                    <img class="meet-our-team-member-photo" ng-src="{{member.photo}}" alt="{{member.name}}">
                    <div class="caption meet-our-team-member-info-container">
                        <div class="meet-our-team-member-name">{{member.name}}</div>
                        <div class="meet-our-team-member-position">{{member.position}}</div>
                        <div class="row meet-our-team-member-links-container" >
                            <div class="col-xs-3">
                                <a ng-href="mailto:{{member.email}}">
                                    <i class="fa fa-envelope fa-lg"></i>
                                </a>
                            </div>
                            <div class="col-xs-3">
                                <a ng-href="{{member.github}}" target="_blank">
                                    <i class="fa fa-github fa-lg"></i>
                                </a>
                            </div>
                            <div class="col-xs-3">
                                <a ng-href="{{member.linkedin}}" target="_blank">
                                    <i class="fa fa-linkedin fa-lg"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
