<div class="food-table container">
    <uib-accordion close-others="oneAtATime">
        <div ng-repeat="item in groups" class="food-table-wrapper">
            
            <div uib-accordion-group ng-class="{'panel-default': item.isSafe, 'panel-danger': !item.isSafe}" class="food-table-section" is-open="status.open"   ng-click="status.open = !status.open">
                <uib-accordion-heading >
                    <a ng-click="status.open = !status.open"> {{item.title}} 
                        <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                    </a>
                </uib-accordion-heading>
                <div class="row row-table food-table-item" ng-click="status.open = !status.open">
                    <div class="col-sm-3 hidden-xs">
                        <img class="food-table-item-image" ng-src="{{item.imageSrc}}">
                    </div>
                    <div class="col-xs-12 col-sm-9">
                        <ul>
                            <li class="food-table-line" ng-repeat="line in item.content" ng-bind-html="line"></li>
                        </ul>
                    </div>
                </div>
                
            </div>

        </div>
        
    </uib-accordion>
</div>