<section class="timeline-section">
    <div class="container">
        <ul class="timeline-container">
            <li class="timeline-item" ng-repeat="item in timelineItems">
                <div class="timeline-line">
                    <span class="timeline-pin" in-view="$inviewInfo.changed && timelinePinInView($index, $inview, $inviewInfo)">
                        <i class="timeline-pin-icon fa fa-map-pin fa-lg fa-inverse" aria-hidden="true"></i>
                    </span>
                </div>
                <div class="timeline-content-container">
                    <div class="timeline-content" in-view="$inviewInfo.changed && timelineItemInView($index, $inview, $inviewInfo)">
                        <div class="row">
                            <div class="col-sm-3 hidden-xs" ng-if="$index %2 == 0">
                                <img class="timeline-item-image" ng-src="{{item.imageSrc}}">
                            </div>
                            <div class="col-sm-9">
                                <uib-tabset active="active">
                                    <uib-tab index="0" heading="Routine">
                                        <div class="timeline-item-content-container">
                                            <div>{{item.title}}</div>
                                            <table>
                                                <tbody>
                                                    <tr ng-repeat="content in item.content">
                                                        <td class="timeline-itme-list-bullet">&bull;&nbsp;&nbsp;</td>
                                                        <td>{{content.text}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </uib-tab>
                                    <uib-tab index="1" heading="Related Fee">
                                        <table class="table table-hover sm-font">
                                            <thead>
                                                <tr>
                                                    <th>Title</th>
                                                    <th>Patient with MSP</th>
                                                    <th>Patient without MSP</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="fee in item.fees">
                                                    <td>{{fee.title}}</td>
                                                    <td>{{fee.price.msp}}</td>
                                                    <td>{{fee.price.nomsp}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <div class="xs-font light-red-text">*Patient without MSP would usually be charged at least double of the price</div>
                                    </uib-tab>
                                </uib-tabset>
                            </div>
                            <div class="col-sm-3 hidden-xs" ng-if="$index %2 != 0">
                                <img class="timeline-item-image" ng-src="{{item.imageSrc}}">
                            </div>
                        </div>
                        <div class="visible-xs">
                            <img class="timeline-item-image-small visible-xs pull-right" ng-src="{{item.imageSrc}}">
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>


